{% extends "index.html" %}
{% load crispy_forms_tags thumbnail i18n %}
{% block content %}
    <section class="deal deal-new pt-60">
        <div class="deal-body card-body">
            <form id="card" action="." method="post" class="card">
                <div class="row form-header">
                    <div class="col-xs-12 col-sm-12">
                        <a href="{% url "trade:list" %}"><span
                                class="glyphicon glyphicon-menu-left"></span>{% trans "Назад" %}</a>
                    </div>
                </div>
                {% csrf_token %}
                {{ form | crispy }}
                <div class="user-data">
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="submit" value="

                                    {% if form.instance.pk %}{% trans "Змінити данні" %}{% else %}{% trans "Відправити" %}{% endif %}"
                                   class="btn btn-primary pull-left">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>
{% endblock %}