{% load i18n %}
<div class="user-data">
    <div class="row">
        <div class="col-xs-6 no-padding-right">
            {% block left_button %}
                <a href="{% url "trade:not_relevant" trade.transaction_id %}" class="btn btn-primary inverse"
                   name="reject"
                   id="id_reject_booking">{% trans "Відмінити бронювання" %}</a>
            {% endblock %}
        </div>
        <div class="col-xs-6">
            {% block right_button %}
                <a href="{% url "trade:pay" trade.transaction_id %}" class="btn btn-primary"
                   name="receive"
                   id="id_receive">{% trans "Оплатити" %}</a>
            {% endblock %}
        </div>
    </div>
</div>