{% extends "status/booked.html" %}
{% load i18n %}
{% block left_button %}
    <a href="{% url "trade:done" trade.transaction_id %}" class="btn btn-primary"
       name="reject" id="id_reject_booking">{% trans "Угода успішна" %}</a>
{% endblock %}
{% block right_button %}
    <a href="{% url "trade:variance" trade.transaction_id %}" class="btn btn-primary inverse"
       name="reject" id="id_reject_booking">{% trans "Невідповідність" %}</a>
{% endblock %}