{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="deal pt-60">
        <div class="deal-body">
            <h3 class="deal-info">Вхід</h3>


            <div class="col-sm-12">
                <p>You don't have an account? <a href="{% url "account_signup" %}"
                                                 class="btn btn-secondary btn-sm auth pull-right">sign up</a></p>

                <form action="." method="post">
                    {% csrf_token %}
                    {{ form| crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <input type="submit" class="btn btn-primary" value="Вхід">
                        </div>
                    </div>
                </form>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
        </div>
    </section>
{% endblock %}