{% extends "index.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
    <section class="deal pt-60">
        <div class="deal-body ">
            <h3 class="deal-info">Відправити запит на зміну</h3>

            <div class="col-xs12">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form |crispy }}

                    <input class="btn btn-primary auth inverse" type="submit" value="{% trans 'Reset My Password' %}"/>

                </form>


            </div>
        </div>
    </section>
{% endblock %}
