{% extends "index.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
    <section class="deal pt-60">
        <div class="deal-body ">
            <h3 class="deal-info">{% trans "Змінити пароль" %}</h3>

            <div class="col-xs-12">
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary"
                                    name="action">{% trans "Change Password" %}</button>
                        </div>
                        <div class="col-xs-6">
                            <a href="{% url "user:update" %}" class="btn btn-primary inverse"
                               name="back_user">{% trans "Назад" %}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}