{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="deal">
        <div class="deal-body pt-60">
            <h3 class="deal-info">Реєстрація</h3>

            <div class="col-sm-12">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form| crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-12 text-center">
                            <input type="submit" class="btn btn-primary" value="Зарееструватись">
                        </div>
                    </div>
                </form>
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
            </div>
        </div>
    </section>
{% endblock %}