{% extends "index-shop.html" %}
{% load crispy_forms_tags socialaccount %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form| crispy }}
                    <input type="submit" class="btn btn-primary" value="Login">
                </form>
            </div>
            <div class="col-sm-3">
                {% providers_media_js %}
                <a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>
            </div>
        </div>
    </div>
{% endblock %}