{% extends "index.html" %}
{% load crispy_forms_tags thumbnail %}
{% block content %}
    <section class="deal deal-new pt-60">
        <div class="deal-body card-body">
            <h3 class="deal-info">Спосіб оплати (2/2)</h3>
            <form id="card" action="." method="post" class="card">
                {% csrf_token %}
                {% include "cards/bank_account_form.html" %}
                <div class="user-data">
                    <div class="col-xs-offset-3 col-xs-6">
                        <input type="submit" value="Додати" class="btn btn-primary">
                    </div>
                </div>
            </form>

        </div>
    </section>
{% endblock %}