{% extends "index.html" %}
{% load crispy_forms_tags thumbnail crispy_forms_field %}
{% block content %}
    <section class="deal deal-new pt-60">
        <div class="deal-body card-body">
            <h3 class="deal-info">Спосіб оплати (2/2)</h3>

            <form id="card" action="." method="post" class="card" novalidate>
                {% csrf_token %}

                {% include "cards/card_form.html" %}

                <div class="user-data">
                    <div class="col-xs-offset-3 col-xs-6">
                        <input type="submit" value="Додати" class="btn btn-primary">
                    </div>
                </div>
            </form>
            <form id="invoice" action="." method="post" class="card hidden" novalidate>
                {% csrf_token %}
                {% include "cards/bank_account_form.html" %}
                <div class="user-data">
                    <div class="col-xs-offset-3 col-xs-6">
                        <input type="submit" value="Додати" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        function hiddenForm(elem) {
            console.log(elem.val());
            if (elem.val() == 'card') {
                $('.js-hidden-fields').removeClass('hidden');
                $('#invoice').addClass('hidden');
                {#                $('#invoice #div_id_payment_method select').val('invoice');#}
                $('#card').removeClass('hidden');
            } else if (elem.val() == 'invoice') {
                $('.js-hidden-fields').removeClass('hidden');
                {#                $('#card #div_id_payment_method select').val('card');#}
                $('#card').addClass('hidden');
                $('#invoice').removeClass('hidden');
            } else {
                $('#card').removeClass('hidden');
                $('.js-hidden-fields').addClass('hidden');
                $('#invoice').addClass('hidden');
            }
        }
        $(document).ready(function () {
            {#            if (window.location.hash) {#}
            {#                $("form").addClass("hidden");#}
            {#                $(window.location.hash).removeClass("hidden")#}
            {#            }#}
            hiddenForm($('#div_id_payment_method select'));
            $('#div_id_card_number input').keyup(function () {
                if ($(this).val().length == $(this).attr("maxlength")) {
                    $(this).next().focus();
                }
            });

            $('#div_id_payment_method select').change(function (e) {
                        e.preventDefault();
                        hiddenForm($(this));
                        {#                        $("form").toggleClass("hidden");#}
                        {#                        window.location.hash = $(this).val();#}
                        {#                        $(this).val($("option:not(:selected)", $(this)).val())#}
                    }
            );
            $('#card #div_id_payment_method select').change(function (e) {
                        e.preventDefault();
                        $('#invoice #div_id_payment_method select').val($(this).val());
                    }
            );
            $('#invoice #div_id_payment_method select').change(function (e) {
                        e.preventDefault();
                        $('#card #div_id_payment_method select').val($(this).val());
                    }
            )
        });


    </script>
{% endblock %}