{% load crispy_forms_tags %}
<div class="col-xs-12 no-padding">
    {{ form_card.payment_method |as_crispy_field }}
</div>
<div class="js-hidden-fields">
    <div class="col-xs-6 no-padding">
        {{ form_card.first_name| as_crispy_field }}
    </div>
    <div class="col-xs-6 no-padding">
        {{ form_card.last_name| as_crispy_field }}
    </div>
    <div class="col-xs-12 no-padding">
        {{ form_card.card_number| as_crispy_field }}
    </div>
</div>