{% extends "index.html" %}
{% load crispy_forms_tags thumbnail crispy_forms_field i18n %}
{% block content %}
    <section class="deal deal-new pt-60">
        <div class="deal-body card-body">
            <form id="card" action="." method="post" class="card">
                <div class="row form-header">
                    <div class="col-xs-12 col-sm-12">
                        <a href="{% url 'card:list' %}"><span
                                class="glyphicon glyphicon-menu-left"></span>{% trans "Назад" %}</a>
                    </div>
                </div>
                {% csrf_token %}
                {% block finance_form %}
                    <div class="col-xs-6 no-padding">
                        {{ form.first_name| as_crispy_field }}
                    </div>
                    <div class="col-xs-6 no-padding">
                        {{ form.last_name| as_crispy_field }}
                    </div>
                    <div class="col-xs-12 no-padding">
                        {{ form.card_number| as_crispy_field }}
                    </div>
                    <div class="user-data">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="submit" value="

                                        {% if form.instance.pk %}{% trans "Змінити" %}{% else %}{% trans "Додати" %}{% endif %}"
                                       class="btn btn-primary pull-left">
                            </div>
                        </div>
                        {#                        <div class="col-xs-6">#}
                        {#                            <a class="btn btn-primary" href="{% url 'card:list' %}">Назад</a>#}
                        {#                        </div>#}
                    </div>
                {% endblock %}
            </form>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function () {
            if (window.location.hash) {
                $("form").addClass("hidden");
                $(window.location.hash).removeClass("hidden")
            }
            $('#div_id_card_number input').keyup(function () {
                if ($(this).val().length == $(this).attr("maxlength")) {
                    $(this).next().focus();
                }
            });

            $('#div_id_payment_method select').change(function (e) {
                        e.preventDefault();
                        $("form").toggleClass("hidden");
                        window.location.hash = $(this).val();
                        $(this).val($("option:not(:selected)", $(this)).val())
                    }
            )
        });
    </script>
{% endblock %}
