{% extends "index.html" %}
{% load staticfiles i18n %}
{% block content %}
    <section class="user-transaction">
        <div class="container card-container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <a class="btn btn-secondary  pull-left"
                       href="{% url 'card:card_add_manually' %}">{% trans 'Додати картку' %}</a>
                </div>
                <div class="col-md-2 col-xs-6">
                    <a class="btn btn-secondary pull-left"
                       href="{% if request.user.type == 'private' %}{% url 'card:account_add_manually' %}
                {% else %}{% url 'card:legal_account_add_manually' %}{% endif %}">{% trans 'Додати рахунок' %}</a>
                </div>
            </div>
            <div class="row cards-row">
                {% for card in cards %}

                    <div class="col-xs-12 col-md-3 card-holder">
                        <div class="col-md-12 card-view">
                            <p>{% trans "Картка" %}</p>

                            <p> {{ card.number_to_show }}</p>

                            <p class="card-edit text-right"><a
                                    href="{% url 'card:edit_card_info' card.pk %}">{% trans 'Деталі' %}</a></p>
                        </div>
                    </div>

                {% endfor %}

                {% for account in bank_accounts %}
                    <div class="col-xs-12 col-md-3 card-holder">
                        <div class="col-md-12 card-view">
                            <p>{% trans "Рахунок" %}</p>

                            <p> {{ account.number_to_show }}</p>

                            <p class="text-right card-edit">
                                <a href="{% if request.user.type == 'private' %} {% url 'card:edit_bank_account_info' account.pk %}
                        {% else %}
                    {% url 'card:edit_legal_bank_account_info' account.pk %}{% endif %}">{% trans 'Деталі' %}</a></p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}