.lg-outer .lg-img-wrap {
    left: -50%;
}

.mb-10 {
    margin-bottom: 10px;
}

.intl-tel-input {
    width: 100%;
}

.no-items {
    margin: 100px auto;
    color: #9b9a99;
    font-weight: 400;
}

.form-control:focus {
    border-color: #eee;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.lg-backdrop.in {
    opacity: 0.6;
}

.fixed-size.lg-outer .lg-inner {
    background-color: transparent;
}

.fixed-size.lg-outer .lg-sub-html {
    position: absolute;
    text-align: left;
}

.lg-actions .lg-next, .lg-actions .lg-prev {
    background-color: transparent;
}

.fixed-size.lg-outer .lg-toolbar {
    background-color: transparent;
    height: 0;
}

.fixed-size.lg-outer .lg-toolbar .lg-icon {
    color: #3c3f41;
}

.fixed-size.lg-outer .lg-img-wrap {
    padding: 12px;
}

.first-image {
    cursor: pointer;
    transition: transform 0.3s ease 0.3s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.first-image:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.back-link {
    position: absolute;
    right: 6px;
    top: 15px;
    z-index: 3;
}

.back-link a, .back-link span {
    font-size: 14px;
    opacity: 0.8;
    color: #e20717;
}

.back-link span {
    top: 3px;
    left: 2px;
}

.form-group {
    margin-bottom: 8px;
}

.radio {
    display: inline;
    margin-right: 10px;
}

.form-control[readonly], .form-control[disabled] input {
    background-color: #eee;
    color: #777;
}

section.user-transaction {
    padding: 0 45px 0;
    height: auto;
    min-height: calc(100% - 180px);
    position: relative;
}

section.deal .deal-body.deal-details {
    padding: 10px 16px;
}

.datepicker table tr td.day.focused, .datepicker table tr td.day:hover {
    background: #e20717;
    cursor: pointer;
    color: white;
}

.pt-60 {
    padding-top: 60px !important;
}

.pt-30-custom {
    padding-top: 30px !important;
}

.tooltip-inner {
    background-color: white;
    color: red;
    border-radius: 10px;
    padding: 5px 15px;
}

.spay-qustion-mark {
    display: inline-flex;
    padding-left: 12px;
}

.info-sign {
    visibility: hidden;
    padding-top: 10px;
}

.tooltip.right .tooltip-arrow {
    border-right-color: white;
}

a.payment_method {
    color: #e20717;
    font-size: 12px;
    float: right;
    margin-bottom: 10px;
}

input.text-center {
    text-align: center;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li {
    float: left;
    margin-bottom: -2px;
}

#first-tab {
    min-width: 104px;
    border: none;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/*card template*/
input#id_first_name, input#id_last_name {
    width: 96%;
}

#div_id_card_number input {
    width: 23%;
    margin-right: 2%;
}

select#id_payment_method {
    width: 98%;
}

form.card {
    padding: 0 10px;
}

.container.card-container {
    padding: 0 50px;
}

.cards-row {
    margin-top: 20px;
}

.card-view {
    background-color: white;
    border-radius: 20px;
    padding: 10px 4px 4px;
    font-size: 14px;
    margin: 4px 0;

}

p.card-edit {
    margin: 0;
    padding: 0 4px 2px;

}

p.card-edit a {
    font-size: 12px;
    color: #e20717;
}

section.deal .deal-body.card-body {
    max-width: 360px;
    padding-top: 6px;
}

table.transactions {
    border-collapse: separate;
    border: none;
    border-radius: 20px;
    -moz-border-radius: 2px;
    background-color: white;
    font-size: 11pt;
    font-weight: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

table.transactions p {
    font-size: 12px;
}

table.transactions a {
    font-size: 12px;
}

table.transactions td.action span {
    font-size: 12px;
    margin-right: 2px;
}

/*.select-style {*/
/*background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 90% 50%;*/
/*}*/

/*.select-style select {*/
/*padding: 5px 8px;*/
/*width: 130%;*/
/*border: none;*/
/*box-shadow: none;*/
/*background-color: transparent;*/
/*background-image: none;*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*appearance: none;*/
/*}*/

/*.select-style select:focus {*/
/*outline: none;*/
/*}*/

p.spay-arrow {
    cursor: pointer;
}

table.transactions tr:first-child th::after, p.spay-arrow::after {
    content: url(../img/arrow_down_small.png);
    position: relative;
    left: 2px;
    top: -1px;

}

p.spay-arrow.up::after {
    content: url(../img/arrow_down_small_up.png);
}

#id_regirtered button::after {
    content: url(../img/arrow_down_grey.png);
    position: relative;
    left: 2px;
    top: -1px;
}

form#filter_form select#id_product_status_filter {
    max-width: 230px;

}

form#filter_form select#id_role {
    max-width: 100px;

}

#id_regirtered.open button::after {
    content: url(../img/arrow_down_grey_up.png);
}

.custom-select.small.arrow-up .selected::after {
    background-image: url(../img/arrow_down_small_up.png);
}

td:first-child, th:first-child {
    border-left: none;
    border-top: none;
}

td, th {
    text-align: center;
    height: 60px;
    border-left: solid #f5f5f5 1px;
}

td.deal-name, th.deal-name {
    max-width: 162px;
    text-overflow: ellipsis;
    overflow: hidden;
}

th {
    height: 40px;
    color: #555;
    font-weight: 400;
    background-color: white;
    border-top: none;
}

th.clear {
    color: #555;
}

td.action p {
    text-align: left;
}

td {
    font-weight: 400;
    color: #3c3c3b;
}

p.terms {
    float: left;
    padding: 20px;
    width: 60%;
    text-align: left;
}

.mt-100 {
    margin-top: 100px;
}

td.hiddenRow {
    height: 0px;
    padding: 0px !important;
    border-top: none !important;
    background-color: #f5f5f5;
}

section.deal .user-data .btn.half {
    width: 50%;
}

.btn.btn-primary.grey {
    background: grey;
    color: white;
    border: none;
}

/*Product filter*/
form#filter_form input, form#filter_form select {
    max-width: 80px;
    border-radius: 10px;
    font-size: 12px;
    padding: 2px 8px;
    color: gray;
}

form#filter_form input[name="name__icontains"] {
    max-width: 150px;

}

.filter-pointer th {
    cursor: pointer;
}

select#id_product_status_filter {
    max-width: 100px;
}

/*Upload images list block*/
.item-upload-images {
    border-radius: 20px;
    background-image: url(../img/placeholder.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-bottom: 6px;
}

.item-upload-images input[type=file] {
    display: none;
}

.height-100-percent {
    height: 100%;
}

.item-upload-images label {
    display: table-cell;
    font-weight: 300;
    padding-top: 10px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

.move {
    top: -16px;
    left: 79px;
    float: none;
    z-index: 3;
}

.move:hover {
    cursor: pointer;
}

.product-images {
    border: 2px solid #eee;
    border-radius: 10px;
    height: 120px;
    margin: -15px 15px 12px 15px;
    padding-top: 2px;
    vertical-align: middle;
}

textarea.form-control {
    height: 80px;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none;
}

.btn.btn-primary.inverse {
    border: 1.5px solid #e20717;
    color: #e20717;
    background: #FFFFFF;
    font-weight: bold;
}

.btn.btn-primary.inverse:hover {
    background-color: #e20717;
    border: none;
    color: #3d3d3b;
}

.btn.btn-primary.inverse:active {
    background-color: #e20717;
}

.btn.btn-secondary.auth {
    /*background-color: #e20717;*/
    /*border: 1px solid transparent;*/
    color: #fff;
    height: 36px;
    min-width: 119px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1001;
}

.btn.btn-secondary.auth span {
    margin-left: 10px;
}

.dropdown-menu.main {
    padding: 40px 0 0 0;
    margin: -30px -1px 0px -1px;
    border: none;
    border-radius: 20px;
    min-width: 120px;

}

.dropdown-menu.main a {
    width: 100px;
}

.btn.btn-secondary.list {
    padding: 0 10px 0 20px;
    text-align: left;
    background-color: white;
    border: none;
    color: #3c3c3c;
    height: 34px;
    min-width: 120px;
    line-height: 28px;
    font-size: 14px;
    border-radius: 0;
}

.btn.btn-secondary.list:hover {
    background-color: #e20717;
    color: white;
}

.btn.btn-secondary.list.last {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.table tbody tr td {
    vertical-align: middle;
}

.copy-button {
    cursor: pointer;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: white;
    cursor: pointer;
}

/*required fields asterisk*/
.asteriskField {

    font-size: small;
}

section.deal.deal-new .item-header .item-price .asteriskField {
    color: red;
    font-size: small;
    font-weight: 700;
    right: 0;
}

.create-product-form .form-group .control-label,
.product-update .form-group .control-label,
.product-buy-form .form-group .control-label {
    position: absolute;
    right: 8px;
    top: -4px;
}

#id_remember {
    left: auto;
    margin: 0px 0 0 -20px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*Class messenger red*/
.messenger {
    min-height: calc(100% - 100px);
    background-color: #fdfdfd;
    border-radius: 20px;
    color: #3c3c3b;
    margin-top: 20px;
    padding: 10px 20px 20px;
}

.messenger-header {
    text-align: left;
    float: left;
    margin-left: 20px;
}

.messenger-form {
    margin-top: 6px;
}

.messenger-form .input-group-addon {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 2px solid #eee;
    border-right: none;
    background-color: white;
    color: #3c3c3b;
}

.messenger-form input {
    border-radius: 20px;
}

.messenger h4 {
    margin-top: 1px;
}

.message-list {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 80px;
    margin-top: 1px;
}

.message {
    margin: 7px 13px;
    padding: 12px 20px;
    background-color: #e5e5e5;
    color: #3c3f41;
    border-radius: 18px;
    vertical-align: middle;

}

.js-messages {
    margin-right: -13px;
    margin-left: -13px;
}

.author {
    background-color: #e02a20;
    color: #FFFFFF;
    float: right;
}

.message p {
    text-align: left;
    margin: 0px;
    font-size: 14px;
    font-weight: 200;
    /*vertical-align: middle;*/
}

p.user-name {
    color: #e02a20;
    font-weight: 400;
}

.author p.user-name {
    color: white;
}

.form-header {
    text-align: left;
    margin: 0 -20px 8px -20px;
    border-bottom: 2px solid #eee;
    padding: 2px 0 4px 0;
}

.form-header a {
    font-size: 14px;
}

.form-header span {
    color: #e02a20;
}

img#id_image_main {
    border-radius: 15px;
}

table.transactions .table-messages-product a {
    font-size: 14px;
    font-weight: bold;
}

p.message-date {
    position: absolute;
    bottom: -4px;
    right: 10px;
    font-size: 10px;
}

.table-messages-user {
    max-width: 260px;
    min-width: 180px;
}

.table-messages-product {
    min-width: 240px;
    text-align: left;
}

.table-messages-date {
    min-width: 140px;
    max-width: 240px;
}

.notify {
    margin-right: 16px;
}

.notify span {
    font-size: 20px;
    color: #C6C5C4;
}

span.badge-notify {
    font-size: 12px;
    background: #e02a20;
    position: absolute;
    top: -10px;
    right: -10px;
    color: white;
}

span.badge-notify.badge-table {
    top: -10px;
    right: 7px;
    position: relative;
}

.alert-custom {
    background-color: #e02a20;
    color: white;
    text-align: left;
    font-size: 12px;
    border-radius: 3px;
    padding: 10px;
}

.alert-custom > [data-notify="title"] {
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}

.alert-custom > [data-notify="message"] {
    display: block;
}

@media (max-width: 600px) {
    section.deal .deal-body {
        background-color: #fdfdfd;
        border-radius: 20px;
        color: #3c3c3b;
        display: inline-block;
        width: 100%;
        max-width: 500px;
        margin-top: 20px;
        padding: 20px 0px;
        vertical-align: middle;
        position: relative;
        text-align: left;
        z-index: 2;
    }

    .form-control {
        height: 34px;
        padding: 2px 8px;
    }

    .message p {
        font-size: 12px;
    }

    p.message-date {
        font-size: 8px;
    }

    #send-message {
        font-size: 12px;
        height: 34px;
        padding: 4px 2px;
    }

    .notify {
        margin-right: 8px;
    }

    .messenger-header {
        margin-left: 0;
    }

    .table-messages-product {
        min-width: 160px;
        text-align: left;
        padding-left: 5px;
    }

    .table-messages-date {
        min-width: 100px;
        max-width: 160px;
    }

    .back-link a, .back-link span {
        font-size: 11px;
    }

    .btn.btn-primary {
        width: 100%;
    }

    .message {
        padding: 4px 10px;
        border-radius: 10px
    }

    .btn.btn-primary.contact {
        border-radius: 10px;
        margin: 2px 0 0 -1px;
    }

    section.deal .item-header .item-info-main {
        font-size: 12px;
    }

    section.deal .item-header .item-info-main p {
        margin: 0;
    }

    section.deal.deal-new .item-header .item-price .item-price-label {
        left: 30px;
        top: 8px;
    }

    section.deal.deal-new .item-header .item-price .item-comission-label {
        right: 20px;
        top: 8px;
    }

    section.deal .deal-body.deal-details {
        padding: 4px 10px 10px;
        margin-top: 80px;
    }

    section.deal.deal-new .item-header .item-info-main .item-upload-image {
        width: 102px;;
        top: -12px;
        left: 22px
    }

    section.deal .user-data > div:not(:last-child) {
        margin-bottom: 0px;
        padding-left: 0;
    }

    section.deal .user-data .btn {
        width: 100%;
        font-size: 14px;
        padding: 4px 2px;
        height: 32px;
    }

    .btn.btn-primary.contact {
        padding: 2px 2px;
        height: 30px;
        font-size: 12px;
        width: 60%;
    }

    .product-images {
        height: 86px;
    }

    .move {
        left: 49px;
    }

    .create-product-form .form-group .control-label,
    .product-update .form-group .control-label,
    .product-buy-form .form-group .control-label {
        position: absolute;
        right: 8px;
        top: -6px;
    }

    section.user-transaction {
        padding: 0 10px 0;
    }

    header .settings .custom-select.language {
        margin: 0 20px 0 0;
    }

    header .settings .custom-select.language ul.options {
        background-color: #ececec;
        left: 10px;
    }

    form#filter_form input[name="name__icontains"] {
        max-width: 140px;
    }

    .table > tbody > tr > td, .table > tbody > tr > th,
    .table > tfoot > tr > td, .table > tfoot > tr > th,
    .table > thead > tr > td, .table > thead > tr > th {
        padding: 6px 4px;
    }

    .terms {
        font-size: 13px;
    }

    .container.card-container {
        padding: 0;
    }

    footer {
        bottom: -30px;
    }

}

@media (max-width: 360px) {
    section.home .intro h1 {
        margin: -32px 0 0 0;
    }

    header .sitelogo a img {
        height: 38px;
    }

    section.deal.deal-new .item-header .item-info-main .item-upload-image {
        width: 96px;
        top: -14px;
        left: 13px;
    }

    section.deal.deal-new .item-header .item-price span {
        font-size: 11px;
    }

    section.deal.deal-new .item-header .item-price input {
        padding-left: 42px;
    }

    section.deal.deal-new label {
        font-size: 14px;
    }

    section.deal.deal-new .item-header .item-info-main .item-upload-image label {
        padding-top: 2px;
    }

    section.deal .user-data .btn {
        width: 100%;
        font-size: 12px;
        padding: 4px 2px;
        height: 30px;
    }

    .btn.btn-primary.contact {
        padding: 2px 2px;
        height: 23px;
        font-size: 10px;
        width: 60%;
        line-height: 17px;
    }

    .form-control {
        font-size: 14px;
    }

    .form-group {
        margin-bottom: 6px;
    }

    .move {
        left: 37px;
    }

    .terms {
        font-size: 11px;
    }

    .back-link {
        top: 2px;
    }

    .height-100-percent {
        padding-left: 5px;
        padding-right: 5px;
    }

    .xs-padding-left {
        padding-left: 2px;
    }

    td.deal-name, th.deal-name {
        max-width: 122px;
        text-overflow: ellipsis;
    }

    form#filter_form input[name="name__icontains"] {
        max-width: 110px;
    }

    .btn.btn-secondary.auth {
        min-width: 100px;
        max-width: 100px;
        padding-left: 12px;
        height: 30px;
        line-height: 14px;
    }

    .dropdown-menu.main {
        min-width: 100px;
    }

    .btn.btn-secondary.list {
        min-width: 100px;
        padding: 0 10px 0 12px;
    }
}