/* Fonts */
@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Circe-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Circe-Regular?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Circe-Regular.woff') format('woff'), /* Pretty Modern Browsers */ url('../fonts/Circe-Regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Circe-Regular.svg#CirceRegular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Circe-Bold.eot');
    src: url('../fonts/Circe-Bold?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype'),
    url('../fonts/Circe-Bold.svg#CirceBold') format('svg');
}

@font-face {
    font-family: 'Circe';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Circe-Light.eot');
    src: url('../fonts/Circe-Light?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype'),
    url('../fonts/Circe-Light.svg#CirceLight') format('svg');
}

@font-face {
    font-family: 'si';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/socicon.eot');
    src: url('../fonts/socicon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/socicon.woff') format('woff'),
    url('../fonts/socicon.ttf') format('truetype'),
    url('../fonts/socicon.svg#icomoonregular') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family: si;
        src: url(PATH_TO/socicon.svg) format(svg);
    }
}

/* General */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

html {
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

body.container-fluid {
    background-color: #ececec;
    color: #3d3d3b;
    font-family: 'Circe', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
}

.btn {
    background-color: #e20717;
    border-radius: 20px;
    color: #fff;
    height: 40px;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 12px;
}

.btn:hover {
    cursor: pointer;
}

.btn.btn-primary {
    border: 1.5px solid #e20717;
    color: #fff;
    font-weight: bold;
    width: 170px;
}

.btn.btn-primary:hover {
    background-color: #e20717;
    border: none;
    color: #3d3d3b;
}

.btn.btn-primary:active {
    background-color: #e20717;
}

.btn.btn-secondary {
    background-color: #e20717;
    border: 1px solid transparent;
    color: #fff;
    height: 36px;
    line-height: 20px;
}

.btn.btn-secondary:hover {
    background-color: #e20717;
    color: #3d3d3b;
}

.btn.btn-secondary:active {
    background-color: #e20717;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #000000;
}

span.caret {
    margin-left: 3px;
    margin-top: -3px;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: rgba(226, 7, 23, 0.8);
}

.btn.btn-primary.contact {
    padding: 2px 2px;
    height: 28px;
    font-size: 14px;
    border-radius: 12px;
}

.custom-select {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #3d3d3b;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    height: 45px;
    margin: 5px;
    padding: 12px 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 170px;
}

.custom-select.disabled {
    color: #bbbdbf;
}

.custom-select.small {
    background-color: transparent;
    color: #3d3d3b;
    padding: 12px 0;
}

.custom-select:hover {
    cursor: pointer;
}

.custom-select:not(.small):not(.disabled):hover, .custom-select.active {
    border: 1px solid #e20717;
}

.custom-select .selected {
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-select .selected::after {
    background-image: url(../img/arrow_down.png);
    background-repeat: no-repeat;
    content: '';
    width: 12px;
    height: 8px;
    display: inline-block;
    right: 15px;
    top: 18px;
    position: absolute;
}

.custom-select.disabled .selected::after {
    background-image: url(../img/arrow_down_disabled.png);
}

.custom-select.arrow-up .selected::after {
    background-image: url(../img/arrow_up.png);
}

.custom-select.small .selected::after {
    background-image: url(../img/arrow_down_small.png);
    width: 8px;
    height: 6px;
    right: -10px;
    top: 17px;
}

.custom-select ul.options {
    background-color: #fff;
    border: 1px solid #e20717;
    border-radius: 0 0 20px 20px;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 5px;
    position: relative;
    bottom: -13px;
    left: 4px;
    width: 140px;
    z-index: 9999;
}

.custom-select.small ul.options {
    background-color: transparent;
    bottom: 0;
    left: 0;
    width: 100%;
}

.custom-select ul.options li {
    margin-bottom: 5px;
}

.custom-select ul.options li a {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px;
    display: inline-block;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.custom-select ul.options li a img {
    height: 20px;
}

select {
    border: 1px solid #A9A9A9;
}

textarea {
    max-height: 150px;
    padding: 2.5px;
    resize: vertical;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

input,
textarea {
    font-family: 'Circe', sans-serif;
    box-sizing: border-box;
}

/*input:focus,
textarea:focus,
select:focus {
    outline: 0;
    border: 1px solid rgb(125, 173, 217);
    -webkit-box-shadow: 0px 0px 5px 0px rgb(125, 173, 217);
    -moz-box-shadow: 0px 0px 5px 0px rgb(125, 173, 217);
    -o-box-shadow: 0px 0px 5px 0px rgb(125, 173, 217);
    -ms-box-shadow: 0px 0px 5px 0px rgb(125, 173, 217);
    box-shadow: 0px 0px 5px 0px rgb(125, 173, 217);
}
input:not(:focus),
textarea:not(:focus) {
    outline: none;
}*/
.form-control {
    background-color: #fff;
    border: 2px solid #eee;
    border-radius: 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3c3c3b;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 40px;
    padding: 8px 10px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    /*width: 170px;*/
}

.form-control[readonly],
.form-control[disabled] {
    background-color: #fff;
    color: #bbbdbf;
}

input[type=text][disabled],
select[disabled] {
    background-color: lightgrey;
}

select:invalid {
    color: #999;
}

label[for]:hover {
    cursor: pointer;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-float {
    display: table-cell;
    vertical-align: top;
    float: none;
}

.clear-fix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

h1, h2, h3,
h4, h5, h6 {
    color: inherit;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 84px;
    /*font-size: 13vh;*/
    font-weight: bold;
}

h2 {
    font-size: 32px;
    /*font-size: 5vh;*/
    font-weight: normal;
}

a {
    color: #3c3c3b;
    font-size: 16px;
}

a:hover {
    color: #e20717;
    text-decoration: none;
}

hr {
    margin-bottom: 20px;
}

/* right Offsets */
.col-xs-offset-right-2 {
    margin-right: 16.66666667%;
}

.col-xs-offset-right-1 {
    margin-right: 8.33333333%;
}

.col-xs-offset-right-0 {
    margin-right: 0;
}

@media (min-width: 768px) {
    .col-sm-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-sm-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-sm-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .col-md-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-md-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-md-offset-right-0 {
        margin-right: 0;
    }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-2 {
        margin-right: 16.66666667%;
    }

    .col-lg-offset-right-1 {
        margin-right: 8.33333333%;
    }

    .col-lg-offset-right-0 {
        margin-right: 0;
    }
}

/* Custom Checkbox */
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label, .terms {
    position: relative;
    padding-left: 16px;
    padding-top: 10px;
    cursor: pointer;
    color: #e20613;
    font-size: 16px;
    font-weight: 300;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 1px;
    top: -1px;
    width: 20px;
    height: 20px;
    /* border: 1px solid #aaa; */
    background: #d0d2d3;
    border-radius: 6px;
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #e20717;
    transition: all .2s;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted #e20717;
}

/* hover style just for information */
label:hover:before, .terms:hover:before {
    border: 1px solid #e20717 !important;
}

/* Header */
header {
    position: relative;
    top: 0;
    left: 0;
    height: 90px;
    width: 100%;
    z-index: 1000;
}

header .sitelogo {
    text-align: left;
}

header .sitelogo a {
    display: inline-block;
    padding: 10px 0;
}

header .sitelogo a img {
    height: 50px;
}

header .settings {
    padding: 10px 15px;
    text-align: right;
}

header .settings .custom-select.language {
    text-align: left;
    margin: 0 30px 0 0;
    width: auto;
}

header .settings .custom-select.language.arrow-up {
    margin-left: -13px;
}

header .settings .custom-select.language::after {
    position: relative;
}

header .settings .custom-select.language .selected {
    text-align: right;
    width: 100%;
}

header .settings .custom-select.language ul.options {
    left: 11px;
}

/*******************
START OF: Sections
*******************/
/* Wrapper */
section > .wrapper {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
}

/* Home */
section.home {
    background: none;
    display: table;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/*section.home::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
section.home::after {
	background-image: url(../img/shield.png);
	background-size: auto 65vh;
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	height: 100%;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}*/
section.home .intro {
    background-image: url(../img/shield.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    display: inline-block;
    width: 90vw;
    height: auto;
    padding: 50px 0 0;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}

section.home .intro h1 {
    margin: 0;
}

section.home .intro h2 {
    margin: 0 0 20px;
}

section.home .intro #tbPrice {
    border: none;
    border-radius: 20px;
    display: block;
    margin: 4px auto 0;
    width: 170px;
}

section.home .intro #tbSpayId {
    border: none;
    border-radius: 20px;
    display: block;
    margin: 8px auto;
    width: 170px;
}

section.home .intro .form-control {
    font-size: 18px;
    height: 45px;
    margin: 0 5px;
}

section.home .intro .btn {
    height: 45px;
    font-size: 18px;
    width: 170px;
    line-height: 26px;
}

section.home .intro .btn {
    border: 1.5px solid #ececec;
}

/* Deal Info */
section.deal {
    display: table;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 0 10px;
    position: relative;
    /*z-index: 1001;*/
}

/*section.deal::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}*/
section.deal .deal-body {
    background-color: #fdfdfd;
    border-radius: 30px;
    color: #3c3c3b;
    display: inline-block;
    width: 100%;
    max-width: 560px;
    margin-top: 20px;
    padding: 20px;
    vertical-align: middle;
    position: relative;
    text-align: left;
    z-index: 2;
}

section.deal .deal-body .deal-info {
    font-size: 18px;
    margin: 0;
    position: relative;
    text-align: center;
    top: -55px;
}

section.deal .item-header {
    margin-top: -20px;
}

section.deal form .item-header {
    margin-top: -36px;
}

section.deal .item-header .item-image {
    padding-left: 0;
    padding-right: 0;
}

section.deal .item-header .item-image img {
    border-radius: 18px;
    width: 100%;
}

section.deal .item-header .item-info-main {
    font-size: 16px;
    padding-right: 0;
    text-align: left;
}

section.deal .item-header .item-info-main h2 {
    font-size: inherit;
    font-weight: normal;
    margin: 0 0 5px;
}

section.deal .item-header .item-info-main h3 {
    font-size: inherit;
    font-weight: 300;
    margin: 0 0 5px;
}

section.deal .item-header .item-info-main h3 span {
    color: #9c9b9b;
    font-size: 10px;
}

section.deal .item-header .item-info-main p {
    color: grey;
    font-size: inherit;
    font-weight: 300;
    margin: 0 0 5px;
}

section.deal .item-header .item-info-main p#item-id {
    margin: 0;
}

/*section.deal .item-header .item-info-main a {*/
/*font-size: 15px;*/
/*color: #e20613;*/
/*}*/

section.deal .item-description {
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0;
}

section.deal .user-data > div:not(:last-child) {
    margin-bottom: 10px;
    padding-left: 0;
}

section.deal .user-data .btn {
    width: 100%;
}

/* New Deal */
section.deal.deal-new .item-header .item-title {
    font-weight: 300;
    margin-bottom: 10px;
    padding: 0;
}

section.deal.deal-new .item-header .item-info-main {
    margin-bottom: 25px;
}

section.deal.deal-new .item-header .item-info-main .item-upload-image {
    background-image: url(../img/placeholder.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    position: absolute;
    top: -2px;
    left: 42px;
    width: 120px;
    height: 136px;
    z-index: 2;

}

section.deal.deal-new .item-header .item-info-main .item-upload-image input[type=file] {
    display: none;
}

section.deal.deal-new .item-header .item-info-main .item-upload-image label {
    display: table-cell;
    font-weight: 300;
    padding-top: 10px;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    text-align: center;
}

section.deal.deal-new .item-header .item-info-main .item-upload-image label span {
    margin-bottom: 10px;
    display: block;
    font-size: 30px;
    font-weight: 100;
    color: #9c9b9b;
}

section.deal.deal-new .item-header .item-info-main textarea {
    font-weight: 300;
    height: 80px;
    max-height: 100px;
    padding-left: 100px;
    resize: vertical;
    text-align: left;
}

section.deal.deal-new .item-header .item-price {
    margin-bottom: 10px;
}

section.deal.deal-new .item-header .item-price input {
    font-weight: 300;
    text-align: left;
    padding-left: 50px;
}

section.deal.deal-new .item-header .item-price span {
    color: #9c9b9b;
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    z-index: 2;
}

section.deal.deal-new .item-header .item-price .item-price-label {
    left: 30px;
    top: 11px;
}

section.deal.deal-new .item-header .item-price .item-comission-label {
    right: 20px;
    top: 11px;
}

section.deal.deal-new .item-description textarea {
    height: 60px;
    max-height: 100px;
    text-align: left;
}

section.deal.deal-new .item-description textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 40px;
    text-align: center;
}

section.deal.deal-new .item-description textarea::-webkit-input-placeholder { /* Webkit */
    line-height: 40px;
    text-align: center;
}

section.deal.deal-new .item-description textarea:-ms-input-placeholder { /* IE */
    line-height: 40px;
    text-align: center;
}

section.deal.deal-new .user-data .user-phones .user-phone > div {
    vertical-align: bottom;
}

section.deal.deal-new .user-data .user-phones .user-phone > div:nth-child(2n) {
    padding-left: 30px;
}

section.deal.deal-new .user-data .user-phones .user-phone > div > label {
    color: #9c9b9b;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

/*******************
  END OF: Sections
*******************/

/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1000;
}

footer ul.links {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

footer ul.links li {
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
}

footer .copyright {
    color: #c6c5c4;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}

footer .social {
    display: none;
    overflow: hidden;
    margin-top: -46px;
    padding: 0 15px;
    list-style: none;
}

footer .social li {
    display: inline-block;
    *display: inline;
    zoom: 1;
}

footer .social li a {
    font-family: si !important;
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    display: block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 10px;
    color: #ececec;
    background-color: #c6c5c4;
}

footer .soc-icon-last {
    margin: 0 !important;
}

footer .soc-facebook:before {
    content: '\e041';
}

footer .soc-twitter:before {
    content: '\e040';
}

footer .soc-youtube:before {
    content: '\e051';
}

footer .soc-facebook:hover {
    background-color: #3e5b98;
}

footer .soc-twitter:hover {
    background-color: #4da7de;
}

footer .soc-youtube:hover {
    background-color: #e02a20;
}

/*************************
  START OF: Media Queries
*************************/

@media (min-width: 768px) {
    * {
        -webkit-transition: color .3s, background .3s, border .3s;
        -moz-transition: color .3s, background .3s, border .3s;
        -o-transition: color .3s, background .3s, border .3s;
        -ms-transition: color .3s, background .3s, border .3s;
        transition: color .3s, background .3s, border .3s;
    }

    header {
        height: 100px;
    }

    footer {
        height: 70px;
    }

    header,
    footer {
        /*position: fixed;*/
    }

    h1 {
        font-size: 116px;
    }

    h2 {
        font-size: 42px;
    }

    .custom-select {
        margin: 0 5px;
    }

    section.home {
        background-image: url(../img/bg.jpg);
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        height: auto;
        min-height: calc(100% - 180px);
        position: relative;
        top: -20px;
    }

    section.home .intro {
        background-size: auto 100%;
        background-position: center;
        display: table-cell;
        width: auto;
        height: 100%;
        padding: 30px;
    }

    section.home .intro #tbPrice {
        display: inline-block;
        margin: 0 5px;
    }

    section.deal {
        width: 50%;
        height: auto;
        min-height: calc(100% - 180px);
        padding: 0;
        position: relative;
        top: -20px;
    }

    section.deal .deal-body {
        margin-top: 0;
        padding: 20px 10px 10px;
    }

    section.deal .item-header .item-info-main p#item-id {
        margin: 0 0 15px;
    }

    section.deal.deal-new .user-data .user-phones .user-phone > div:nth-child(2n) {
        padding-left: 15px;
    }

    section.deal.deal-new .user-data .user-phones .user-phone:first-child > div:nth-child(2) {
        padding-right: 15px;
    }

    header .sitelogo a {
        padding: 20px;
    }

    header .settings {
        padding: 25px 15px;
    }

    footer .social {
        display: block;
    }
}

@media only screen
and (max-width: 768px)
and (orientation: landscape) {
    h1 {
        font-size: 116px;
    }

    h2 {
        font-size: 42px;
    }

    section.home .intro {
        background-size: auto 100%;
        background-position: center;
        padding: 30px;
    }
}

.asteriskField {
    color: red;
}

@media (max-width: 568px) {
    h1 {
        font-size: 78px;
    }

    h2 {
        font-size: 28px;
    }

}

/*************************
  END OF: Media Queries
*************************/