{% extends "index.html" %}
{% load crispy_forms_tags thumbnail crispy_forms_field i18n static %}
{% block content %}
    <section class="deal deal-new" xmlns="http://www.w3.org/1999/html">
        <div class="deal-body">
            <h3 class="deal-info">{% trans "Створити нову угоду" %}</h3>

            <form  autocomplete="off" action="." method="post" enctype="multipart/form-data" class="create-product-form">
                {% include "product/form.html" %}
                <div class="col-xs-6">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-xs-6">
                    {{ form.email_buyer|as_crispy_field }}
                </div>
                <div class="col-xs-6">
                    {{ form.phone|as_crispy_field }}
                </div>
                <div class="col-xs-6">
                    {{ form.phone_buyer|as_crispy_field }}
                </div>
                {% if not request.user.is_active %}
                    <div class="col-xs-6">
                        {{ form.password|as_crispy_field }}
                    </div>
                    <div class="col-xs-12">
                        {{ form.user_type|as_crispy_field }}
                    </div>

                    <div class="col-xs-12" id="to_show" style="display: none">
                        <div class="form-group" id="div_id_login">
                            <div class="controls text-center">
                                <a type="submit" href="#" ajax-url="{% url 'user:ajax_login' %}"
                                   class="margin-clear btn btn-primary"
                                   id="login">{% trans "Вхід" %}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="col-xs-12 no-float">
                    <div class="form-group">
                        <input type="checkbox" id="cbTerms"/>
                        <label for="cbTerms"></label>
                        <span class="terms" data-toggle="modal"
                              data-target="#myModal">{% trans "Я погоджуюсь з умовами використання сервісу" %}</span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="submit" value="Продати" class="btn btn-primary js-accept" disabled>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans "Умови використання сервісу" %}</h4>
                </div>
                <div class="modal-body">
                    {{ terms.legal_entity }}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js-product %}
    <script src="{% static  "js/product.js" %}"></script>
{% endblock %}