{% load crispy_forms_tags i18n %}
<div class="item-header">
    {% csrf_token %}
    {{ form.type }}
    <div class="item-info-main">
        <div class="col-xs-2">
            <div class="item-upload-image js-background">
                {{ form.image }}
                <label class="js-opacity-0" for="id_image"> {% if not form.instance.image %}
                    <span class="glyphicon glyphicon-upload"
                          aria-hidden="true"></span>{% trans "Фото" %}{% endif %}</label>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-4">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="col-xs-8 col-xs-offset-4">
            {{ form.condition|as_crispy_field }}
        </div>
        <div class="item-price col-xs-8 col-xs-offset-4">
            {{ form.price|as_crispy_field }}
            <span class="item-price-label">{% trans "Ціна" %}:</span>
            <span class="item-comission-label">+10.00 {% trans "грн." %}({% trans "комісія" %})</span>
        </div>
        <div class="col-xs-2"><span class="glyphicon glyphicon-option-horizontal move js-open hidden"
                                    aria-hidden="true"></span>
        </div>
    </div>
</div>

<div class="col-xs-12 no-padding">
    <div class="product-images hidden">
        {% for formset in inlines %}
            {% for form in formset.forms %}
                {% if form.instance.pk %}{{ form.id }}{% endif %}
                <div class="col-xs-3 height-100-percent">
                    <div class="item-upload-images js-background {% if forloop.first or form.instance.pk %}js-image-update{% else %}hidden{% endif %}"
                         {% if form.instance.pk %}style="background-image:url('{{ form.instance.image.url }}')"
                         {% endif %}>
                        {{ form.image }}
                        <label class="js-opacity-0" for="{{ form.image.auto_id }}"> {% if not form.instance.pk %}<span
                                class="glyphicon glyphicon-plus"
                                aria-hidden="true"></span>{% trans "Фото" %}{% endif %}</label>
                    </div>
                </div>
            {% endfor %}
            {{ formset.management_form }}
        {% endfor %}
    </div>
</div>
<div class="col-xs-12">
    {{ form.text|as_crispy_field }}
</div>
<div class="col-xs-12">
    {{ form.terms|as_crispy_field }}
</div>