{% extends "product/product_buy.html" %}
{% load thumbnail crispy_forms_tags i18n %}
{% block deal_title %}{% trans "Змінити статус (продавець)" %}{% endblock %}
{% block back_button %}
    <div class="row form-header mb-10">
        <div class="col-xs-6 col-sm-6">
            <a href="{% url "trade:list" %}"><span
                    class="glyphicon glyphicon-menu-left"></span>{% trans "Назад" %}</a>
        </div>

        <div class="col-xs-6 col-sm-6">
            {% if product.status in product.list_to_cancel %}
                <a class="pull-right" href="{% url "product:remove"  product.spay_id %}"><span
                        class="glyphicon glyphicon-trash"></span> {% trans "Видалити" %}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block product_status %}<p id="status_id">{% trans "Статус" %}: {{ product.get_status_display }}</p> {% endblock %}
{% block contact_user %}
    {% if product.last_transaction %}
        <p id="item-seller">{% trans "Покупець" %}: {{ product.last_transaction.buyer.name_to_display }}</p>
        <a class="btn btn-primary contact"
           href="{% url "chat:contact_buyer" product.last_transaction.transaction_id %}">{% trans "Написати покупцю" %}</a>
    {% endif %}
{% endblock %}
{% block product_bottom %}
    {% include buttons_template_name %}
{% endblock %}
{% block modal %}{% endblock %}

