{% extends "product/product_buy.html" %}
{% load thumbnail crispy_forms_tags i18n %}
{% block deal_title %}{% trans "Змінити статус (покупець)" %}{% endblock %}
{% block product_status %}<p id="status_id">{% trans "Статус" %}: {{ product.get_status_display }}</p> {% endblock %}
{% block back_button %}
    <div class="row form-header mb-10">
        <div class="col-xs-12 col-sm-12">
            <a href="{% url "trade:list" %}"><span
                    class="glyphicon glyphicon-menu-left"></span>{% trans "Назад" %}</a>
        </div>
    </div>
{% endblock %}
{% block product_bottom %}
{% include buttons_template_name %}
{% endblock %}
{% block modal %} {% endblock %}
