{% extends "index.html" %}
{% load crispy_forms_tags thumbnail crispy_forms_field product_tags %}
{% block content %}
    <section class="deal deal-new" xmlns="http://www.w3.org/1999/html">
        <div class="deal-body">
            <h3 class="deal-info">Spay Id - {{ product.spay_id }}</h3>
            <form action="." method="post" enctype="multipart/form-data" class="product-update">
                {% thumbnail product.image "100x100" crop="center" as im %}
                    <img src="{{ im.url }}" class="hidden" id="id_current_image">
                {% endthumbnail %}
                {% include "product/form.html" %}
                {% if product.status != "done" %}
                    <div class="col-xs-6">
                        <input type="submit" value="Змінити" class="btn btn-primary">
                    </div>
                {% else %}
                    <div class="col-xs-6">
                        <input type="submit" value="Товар оплачений" class="btn btn-primary" disabled>
                    </div>
                {% endif %}
                <div class="col-xs-6">
                    <a href="{% get_user_trade_url product request.user %}" class="btn btn-primary pull-right">Назад</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block js %}
    <script type="application/javascript">
        $(document).ready(function () {
            {% if  form.instance.image %}
                $(".item-upload-image").css(
                    "background-image",
                    "url(" + $("#id_current_image").attr("src") + ")"
            );
            $(".js-open").removeClass("hidden");
                $(".js-image-update:last").parent().next().find('.js-background').removeClass('hidden')
            {% endif %}


        });
    </script>
{% endblock %}