{% extends "index.html" %}
{% load thumbnail crispy_forms_tags i18n static %}
{% block content %}
    <section class="deal">
        <div class="wrapper">
            <div class="deal-body deal-details">
                <h3 class="deal-info">{% block deal_title %}{% trans "Деталі угоди" %}{% endblock %}</h3>

                <div class="item-header">
                    {% block back_button %}{% endblock %}
                    <div class="item-image col-xs-4 no-float">
                        {% thumbnail product.image "180x180" crop="center" as im %}
                            <img id="id_image_main" src="{{ im.url }}" class="js-gallery first-image">
                        {% endthumbnail %}
                    </div>
                    <div class="item-info-main col-xs-10 no-float">
                        <hgroup>
                            <h2 id="item-name">{{ product.name }} </h2>

                            <h3 id="item-price">За {{ product.total_price }}
                                <span>(вартість товару - {{ product.price }}; комісія - {{ product.service_price }})</span>
                            </h3>
                        </hgroup>
                        <p id="condition-id">{% trans "Стан" %}: {{ product.get_condition_display }}</p>
                        {% block product_status %}{% endblock %}
                        <p id="item-id">SPay ID: {{ product.spay_id }}</p>

                        {% block contact_user %}
                            <p id="item-seller">{% trans "Продавець" %}: {{ product.user.name_to_display }}</p>
                            <a class="btn btn-primary contact"
                               href="{% url "chat:contact_seller" product.spay_id %}">{% trans "Написати продавцю" %}</a>
                        {% endblock %}
                    </div>
                </div>
                <div class="item-description">
                    <p>
                        {{ product.text }}
                    </p>

                    <p id="terms">
                        {% trans "Умови продажу" %}:
                        {{ product.terms }}
                    </p>
                </div>
                {% block product_bottom %}
                    <div class="user-data">
                        {% if product.status  == "available" %}
                            <form class="user-data product-buy-form" method="post" action=".">
                                {% csrf_token %}
                                {{ form.product }}
                                <div class="col-xs-12 col-sm-6">
                                    {{ form.email|as_crispy_field }}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    {{ form.phone|as_crispy_field }}
                                </div>
                                <div class="col-xs-12 col-sm-6" style="display: none">
                                    {{ form.password|as_crispy_field }}
                                </div>
                                {% if not request.user.is_active %}
                                    <div class="col-xs-12">
                                        {{ form.user_type|as_crispy_field }}
                                    </div>
                                {% endif %}
                                <div class="col-xs-12 text-center" style="display: none">
                                    <div class="form-group" id="div_id_login">
                                        <div class="controls">
                                            <a type="submit" class="btn btn-primary half" href="#"
                                               ajax-url="{% url 'user:ajax_login' %}"
                                               id="login">{% trans "Вхід" %}</a>
                                        </div>
                                    </div>
                                </div>
                                {% if product.user != request.user %}
                                    <div class="col-xs-12 no-padding no-float">
                                        <div class="form-group">
                                            <div class="controls">
                                                <input type="checkbox" id="cbTerms"/>
                                                <label for="cbTerms"></label>
                                            <span class="terms" data-toggle="modal"
                                                  data-target="#myModal">{% trans "Я погоджуюсь з умовами використання сервісу" %}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="submit" class="btn btn-primary inverse js-accept" name="toBook"
                                               id="id_toBook"
                                               disabled value="{% trans "Забронювати" %}">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="submit" class="btn btn-primary js-accept" name="toBuy"
                                               id="id_toBuy"
                                               disabled
                                               value="{% trans "Оплатити" %}">
                                    </div>
                                {% else %}
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <a type="submit" href="{% url "product:update" product.slug %}"
                                               class="btn btn-primary">{% trans "Редагувати" %}</a>
                                        </div>
                                    </div>

                                {% endif %}
                            </form>
                        {% else %}
                            <div class="col-xs-12 no-padding">
                                <input type="submit" class="btn btn-primary grey" id="btnProceed" disabled
                                       value="{{ product.get_status_display }}">
                            </div>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
    {% block modal %}
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans "Умови використання сервісу" %}</h4>
                    </div>
                    <div class="modal-body">
                        {{ terms.legal_entity }}
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block js-product %}
    <script src="{% static  "js/product.js" %}"></script>
{% endblock %}
{% block js %}
    <script src="{% static  "lightgallery/js/lightgallery.min.js" %}"></script>
    <script type="text/javascript">
        $(".js-gallery").click(function () {
            $(this).lightGallery({
                width: '700px',
                height: '460px',
                mode: 'lg-fade',
                addClass: 'fixed-size',
                counter: false,
                download: false,
                startClass: '',
                enableSwipe: false,
                enableDrag: false,
                speed: 500,
                dynamic: true,
                dynamicEl: [{
                    'src': {% thumbnail product.image "x400" crop="center" as im %}'{{im.url }}'{% endthumbnail %}
                },
                    {% for image in product.images.all %}
                        {% thumbnail image.image "x400" crop="center" as im %}
                            {'src': '{{ im.url }}'},
                        {% endthumbnail %}
                    {% endfor %}
                ]
            });
        })
        ;
    </script>
{% endblock %}