{% extends "index.html" %}
{% load humanize thumbnail staticfiles i18n %}
{% block content %}
    <section class="user-transaction">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 pull-left">
                <h4 class="message-page-title">{% trans "Повідомлення" %}</h4>
            </div>
            {% if object_list %}
                <div class="col-sm-8 col-sm-offset-2 pt-30-custom">
                    <table class="table table-hover table-fixed transactions">
                        <thead>
                        <tr>
                            <th class="table-messages-user hidden-xs">{% trans "Коритувач" %}</th>
                            <th class="table-messages-product">{% trans "Продукт" %}</th>
                            <th class="table-messages-date">{% trans "Дата" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for theme in object_list %}
                            <tr>
                                <td class="table-messages-user hidden-xs">
                                    {% if theme.buyer != request.user %}{{ theme.buyer }}{% else %}
                                        {{ theme.product.user.name_to_display }}{% endif %}</td>
                                <td class="table-messages-product notify">
                                    <a href="{% url "chat:message_list" theme.pk %}">
                                        {{ theme.product.name }}</a>

                                        <span id="{{ theme.get_theme_div_id }}"
                                              class="badge badge-notify badge-table ">{% if theme.num_new_messages %}
                                            {{ theme.num_new_messages }}{% endif %}</span>

                                    <p class="hidden-sm hidden-md hidden-lg">
                                        {% if theme.buyer != request.user %}{{ theme.buyer }}{% else %}
                                            {{ theme.product.user.name_to_display }}{% endif %}</p>

                                    <p class="hidden-xs">{{ theme.messages.last.text }}</p>
                                </td>
                                <td class="table-messages-date">{{ theme.messages.last.created_date | naturaltime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <h4 class="no-items">{% trans "Немає повідомлень" %}</h4>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="application/javascript">

    </script>
{% endblock %}