{% extends "index.html" %}
{% load thumbnail staticfiles i18n %}
{% block content %}
    <section class="user-transaction">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 pull-left">
                <h4 class="deal-info pull-left">{% trans "Повідмлення" %}</h4>
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 messenger">
                <div class="row form-header">
                    <div class="col-xs-12 col-sm-12">
                        <a href="{% url "chat:list" %}"><span
                                class="glyphicon glyphicon-menu-left"></span>{% trans "Назад" %}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-sm-1">
                        {% thumbnail theme.product.image "80x80" crop="center" as im %}
                            <img id="id_image_main" src="{{ im.url }}">
                        {% endthumbnail %}
                    </div>
                    <div class="col-xs-8 col-sm-8 messenger-header">
                        <h4 id="item-name">{{ theme.product.name }} </h4>

                        <p id="item-id">SPay ID: {{ theme.product.spay_id }}</p>
                    </div>
                </div>
                <div class="message-list">
                    {% for message in messages %}
                        {% include "chat/message_item.html" %}
                    {% endfor %}
                </div>
                <div class="row messenger-form">
                    <form id="chat" product-sign="{{ theme.product_id }}/" user-sign="{{ theme.buyer_id }}/"
                          current-user-sign="{{ request.user.id }}">
                        <div class="col-xs-8 col-sm-9 no-padding-right">
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">+</span>
                                <input id="message" type="text" class="form-control"
                                       placeholder="{% trans "Повідомлення" %}..."
                                       aria-describedby="basic-addon1" required>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-3">
                            <button id="send-message" type="submit"
                                    class="btn btn-primary">{% trans "Надіслати" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{% static "js/messenger.js" %}"></script>
{% endblock %}