{% load humanize %}
<div class="row js-messages">
    <div class="col-xs-8 message {% if message.author == request.user %}author{% endif %}">
        {% if message.author != request.user %}<p class="user-name">{{ message.author.name_to_display }}</p>{% endif %}
        <p class="text">{{ message.text }}</p>

        <p class="message-date hidden-xs">{{ message.created_date }}</p>
    </div>
</div>