{% extends "index-shop.html" %}
{% block content %}
    <div class="container">
        <table class="table table-striped">
            <tr>
                <th>from</th>
                <th>to</th>
                <th>text</th>
                <th>date</th>
            </tr>
            {% for message in object_list %}
                <tr>
                    <td>{{ message.from_user }}</td>
                    <td>{{ message.to_user }}</td>
                    <td>{{ message.text }}</td>
                    <td>{{ message.created_date }}</td>
                </tr>
            {% empty %}
                <span>No messages</span>
            {% endfor %}
        </table>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form>
    </div>
{% endblock %}
