{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Spay - Main Page</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/fav.png" %}"/>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static  "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/animate.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "lightgallery/css/lightgallery.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-datepicker.min.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "phone_field/css/intlTelInput.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static  "css/styles.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static  "css/custom.css" %}">
</head>

<body class="container-fluid">
<header>
    <div class="col-xs-3 col-sm-offset-1 sitelogo pull-left">
        <a href="{% url "index" %}"><img src="{% static  "img/spay_logo.png" %}"/></a>
    </div>
    <div class="col-xs-9 col-sm-5 col-sm-offset-right-1 settings pull-right">
        {% if request.user.is_authenticated %}
            <div class="btn-group notify js-notify" chat-list-url="{% url "chat:list" %}">
                <a href="{% url "chat:list" %}">
                    <span class="glyphicon glyphicon-envelope"></span>
                </a>
            <span id="messages_count" class="badge badge-notify">{% if messages_count %}
                {{ messages_count }}{% endif %}</span>
            </div>
        {% endif %}
        <div class="custom-select small language">
            {% get_current_language as current_lang %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="selected">{{ current_lang }}</div>
            <ul class="options">
                {% for language in languages %}
                    <li><a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                           data-value="{{ language.code }}">{{ language.code }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="id_regirtered" class="btn-group {% if not request.user.is_authenticated %}hidden{% endif %} ">
            <button type="button" class="btn btn-secondary btn-sm auth dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">{% trans "Кабінет" %}
                <span class="sr-only">{% trans "Кабінет" %}</span>
            </button>
            <ul class="dropdown-menu main">
                <li><a class="btn btn-secondary list" href="{% url "user:update" %}">{% trans "Мій профіль" %}</a></li>
                <li><a class="btn btn-secondary list" href="{% url "trade:list" %}">{% trans "Мої угоди" %}</a></li>
                <li><a class="btn btn-secondary list" href="{% url "index" %}">{% trans "Нова угода" %}</a></li>
                <li><a class="btn btn-secondary list" href="{% url "card:list" %}">{% trans "Гаманець" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a class="btn btn-secondary list last" href="{% url "account_logout" %}">{% trans "Вихід" %}</a>
                </li>
            </ul>
        </div>
        <a id="id_signin" class="btn btn-secondary btn-sm auth {% if request.user.is_authenticated %}hidden{% endif %}"
           href="{% url "account_login" %}?next={{ request.path }}">{% trans "Вхід" %}</a>

    </div>
</header>
{% block content %}
    <section class="home">
        <div class="intro">
            <h1>SPay</h1>

            <h2>{% trans "Захищені Угоди" %}<br/>{% trans "Онлайн" %}</h2>

            <form method="post" action=".">
                {% csrf_token %}
                <div>
                    <div class="custom-select" id="entity">
                        <div class="selected">{% trans "Я продаю" %}</div>
                        <ul class="options">
                            <li id="option-sell"><a href="#" data-value="sell">{% trans "Я продаю" %}</a></li>
                            <li id="option-buy"><a href="#" data-value="buy">{% trans "Я купую" %}</a></li>

                        </ul>
                        <input type="hidden" id="action_input" name="action" value="sell">
                    </div>
                    <div class="custom-select" id="ddlItem">
                        <div class="selected">{% trans "товар" %}</div>
                        <ul class="options">
                            <li id="option-goods"><a href="#" data-value="goods">{% trans "товар" %}</a></li>
                            <li id="option-service"><a href="#" data-value="service">{% trans "послугу" %}</a></li>
                        </ul>
                        <input type="hidden" id="type_input" name="type" value="goods">
                    </div>
                    <input type="number" id="tbPrice" data-title="{% trans "Потрібно ввести ціну" %}"
                           data-placement="right"
                           name="price" class="text-center form-control"
                           placeholder="{% trans "за 499 грн." %}"/>
                </div>
                <div class="spay-qustion-mark">
                    <input type="text" id="tbSpayId" name="spay_id" data-placement="right"
                           class="text-center form-control" placeholder="SPay ID: XXXXXX"
                           style="visibility: hidden;" maxlength="6" data-title="{% trans "Введіть Spay ID" %}">
                    <label data-toggle="tooltip" data-placement="right"
                           title="{% trans "Це Spay ID" %}"><span id="question_mark"
                                                                  class="glyphicon glyphicon-question-sign info-sign"></span></label>
                </div>
                <div>
                    <a class="btn btn-secondary" name="getStarted" value="" id="btnGetStarted">{% trans "Почати" %}</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
<footer class="footer">
    <ul class="links">
        <li><a href="#">{% trans "Часті запитання" %}</a></li>
        <li><a href="#">{% trans "Сервіс" %}</a></li>
    </ul>
    <div class="copyright">
        Copyright &copy; 2016 SPay. All rights reserved
    </div>
    <ul class="col-xs-offset-right-1 social pull-right">
        <li><a class="soc-facebook" href="#"></a></li>
        <li><a class="soc-twitter" href="#"></a></li>
        <li><a class="soc-youtube soc-icon-last" href="#"></a></li>
    </ul>
</footer>

<script src="{% static  "js/jquery-1.12.3.min.js" %}"></script>
<script src="{% static  "js/mask.js" %}"></script>
<script src="{% static  "js/bootstrap.min.js" %}"></script>
<script src="{% static  "js/reconnecting-websocket.min.js" %}"></script>
<script src="{% static  "js/jquery.nicescroll.min.js" %}"></script>
<script src="{% static  "js/numeric.js" %}"></script>
<script src="{% static  "phone_field/js/intlTelInput.min.js" %}"></script>
<script src="{% static  "js/bootstrap-notify.js" %}"></script>
<script src="{% static  "js/scripts.js" %}"></script>
<script src="{% static  "js/main.js" %}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{% static "js/ajax-settings.js" %}"></script>
<script type="text/javascript" src="{% static "js/calls.js" %}"></script>
{% block js-product %}
{% endblock %}
<script src="{% static  "js/clipboard.min.js" %}"></script>
{% block js %}
{% endblock %}


</body>
</html>