{% load staticfiles thumbnail i18n socialaccount %}
<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>SPay</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{% static "fonts/font-awesome/css/font-awesome.css" %}" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="{% static "fonts/fontello/css/fontello.css" %}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{% static "plugins/magnific-popup/magnific-popup.css" %}" rel="stylesheet">
    <link href="{% static "plugins/rs-plugin/css/settings.css" %}" rel="stylesheet">
    <link href="{% static "css/animations.css" %}" rel="stylesheet">
    <link href="{% static "plugins/owl-carousel/owl.carousel.css" %}" rel="stylesheet">
    <link href="{% static "plugins/owl-carousel/owl.transitions.css" %}" rel="stylesheet">
    <link href="{% static "plugins/hover/hover-min.css" %}" rel="stylesheet">

    <!-- The Project core CSS file -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="{% static "css/skins/light_blue.css" %}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
</head>

<!-- body classes:  -->
<!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
<!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
<!-- "transparent-header": makes the header transparent and pulls the banner to top -->
<!-- "gradient-background-header": applies gradient background to header -->
<!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
<body class="no-trans  transparent-header  ">

<!-- scrollToTop -->
<!-- ================ -->
<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

<!-- page wrapper start -->
<!-- ================ -->
<div class="page-wrapper">

    <!-- header-container start -->
    <div class="header-container">

        <header class="header  fixed  full-width  clearfix">

            <!-- header-right start -->
            <!-- ================ -->
            <div class="header-right clearfix">

                <div class="main-navigation  animated with-dropdown-buttons">

                    <!-- navbar start -->
                    <!-- ================ -->
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="container-fluid">

                            <!-- Toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!-- header-left start -->
                                <!-- ================ -->
                                <div class="header-left clearfix ">

                                    <!-- logo -->
                                    <div id="logo-mobile" class="logo">
                                        <a href="{% url "index" %}"></a>
                                    </div>

                                    <!-- name-and-slogan -->
                                    <div class="site-slogan hidden-xs">
                                        <a href="{% url "index" %}">SPay-secure payments</a>
                                    </div>

                                </div>
                                <!-- header-left end -->

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                <!-- main-menu -->
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="menu">
                                        <a href="{% url "product:create" %}">Додати оголошення <i
                                                class="fa fa-plus pl-10"></i></a>
                                    </li>
                                    <!-- mega-menu start -->
                                    {% if request.user.is_authenticated %}
                                        <li class="menu">
                                            <a href="{% url "user:update" %}">Мій
                                                профіль</a>
                                        </li>
                                        <li class="menu">
                                            <a href="{% url "account_logout" %}">Вийти</a>
                                        </li>
                                    {% else %}
                                        <li class="menu">
                                            <a href="{% url "account_login" %}">Мій профіль</a>
                                        </li>
                                    {% endif %}


                                    <!-- mega-menu end -->


                                </ul>
                                <!-- main-menu end -->

                                <!-- header dropdown buttons -->
                                <div class="header-dropdown-buttons hidden-xs hidden-sm">
                                    <div class="btn-group dropdown">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i
                                                class="icon-search"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                            <li>
                                                <form role="search" class="search-box margin-clear">
                                                    <div class="form-group has-feedback">
                                                        <input type="text" class="form-control" placeholder="Search">
                                                        <i class="icon-search form-control-feedback"></i>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- header dropdown buttons end-->

                            </div>

                        </div>
                    </nav>
                    <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
            </div>
            <!-- header-right end -->

        </header>
        <!-- header end -->
    </div>
    <!-- header-container end -->
    {% block content %}
        <!-- banner start -->
        <!-- ================ -->
        <div class="banner dark-translucent-bg padding-bottom-clear"
             style="background-image:url({% static "images/hotel-banner.jpg" %});background-position: 50% 32%;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center col-md-offset-2 pv-20">
                        <h1 class="title">Wellcome to SPay</h1>

                        <div class="separator mt-10"></div>
                        <p class="text-center">Сплачуйте за товари безпечно</p>
                    </div>
                </div>
            </div>
            <!-- section start -->
            <!-- ================ -->
            <div class="dark-translucent-bg section">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                <div class="container">
                    <!-- filters start -->
                    <div class="sorting-filters text-center mb-20">
                        <form class="form-inline" method="post" action=".">
                            {% csrf_token %}
                            <div class="form-group">
                                <select id="product-action" name="action" maxlength="6" class="form-control">
                                    <option value="sell">Я продаю</option>
                                    <option value="buy">Я купую</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="id_type" name="type" maxlength="6" class="form-control">
                                    <option value="goods">Товар</option>
                                    <option value="service">Послугу</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input name="price" id="id_price" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="spay_id" id="id_spay_id" maxlength="6" class="form-control"
                                       disabled>
                            </div>
                            <button type="submit" class="btn btn-lg btn-gray-transparent btn-animated margin-clear"
                                    id="buy-spay">Далі <i class="fa fa-check"></i></button>
                        </form>
                    </div>
                    <!-- filters end -->
                </div>
            </div>
            <!-- section end -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form class="text-center">

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- banner end -->

        <div id="page-start"></div>
        <!-- section start -->
        <!-- ================ -->
        <section class="section dark-translucent-bg pv-40"
                 style="background-image:url({% static 'images/shop-banner.jpg' %});background-position: 50% 50%;">
            <div class="container">
                <div class="row grid-space-10">
                    <div class="col-md-3 col-sm-6">
                        <div class="pv-30 ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall"
                             data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                            <span class="icon default-bg"><i class="fa fa-diamond"></i></span>

                            <h3>Premium &amp; Guaranteed Quality</h3>

                            <div class="separator clearfix"></div>
                            <p>Voluptatem ad provident non repudiandae beatae cupiditate.</p>
                            <a href="#" class="link-dark">Read More<i
                                    class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pv-30 ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall"
                             data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                            <span class="icon default-bg"><i class="icon-lock"></i></span>

                            <h3>Secure &amp; Safe Payment</h3>

                            <div class="separator clearfix"></div>
                            <p>Iure sequi unde hic. Sapiente quaerat sequi inventore.</p>
                            <a href="#" class="link-dark">Read More<i
                                    class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="clearfix visible-sm"></div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pv-30 ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall"
                             data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                            <span class="icon default-bg"><i class="icon-globe"></i></span>

                            <h3 class="pl-10 pr-10">Free &amp; Fast Shipping</h3>

                            <div class="separator clearfix"></div>
                            <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                            <a href="#" class="link-dark">Read More<i
                                    class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="pv-30 ph-20 feature-box text-center object-non-visible animated object-visible fadeInDownSmall"
                             data-animation-effect="fadeInDownSmall" data-effect-delay="250">
                            <span class="icon default-bg"><i class="icon-thumbs-up"></i></span>

                            <h3>24/7 Customer Support</h3>

                            <div class="separator clearfix"></div>
                            <p>Inventore dolores aut laboriosam cum consequuntur.</p>
                            <a href="#" class="link-dark">Read More<i
                                    class="pl-5 fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
    {% endblock %}
    <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
    <!-- ================ -->
    <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-content">
                                <div class="logo-footer">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus illo vel
                                    dolorum soluta consectetur doloribus sit. Delectus non tenetur odit dicta vitae
                                    debitis suscipit doloribus. Ipsa, aut voluptas quaerat.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores similique
                                    voluptatum, culpa ad iure sed.</p>

                                <div class="icons-block mt-10 mb-10">
                                    <i class="fa fa-cc-paypal"></i>
                                    <i class="fa fa-cc-amex"></i>
                                    <i class="fa fa-cc-discover"></i>
                                    <i class="fa fa-cc-mastercard"></i>
                                    <i class="fa fa-cc-visa"></i>
                                    <i class="fa fa-cc-stripe"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">My Account</h2>

                                <div class="separator-2"></div>
                                <nav class="mb-20">
                                    <ul class="nav nav-pills nav-stacked list-style-icons">
                                        <li><a href="{% url "user:update" %}"><i class="icon-tools"></i>
                                            Settings</a></li>
                                        <li><a href="{% url "user:update" %}"><i class="icon-search"></i> My Orders</a>
                                        </li>
                                        <li><a target="_blank" href="http://htmlcoder.me/support"><i
                                                class="icon-thhumbs-up"></i> Support</a></li>
                                        <li><a href="#"><i class="icon-lock"></i> Privacy</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Latest Products</h2>

                                <div class="separator-2"></div>
                                <div class="row grid-space-10">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Find Us</h2>

                                <div class="separator-2"></div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio voluptatem
                                    necessitatibus illo vel dolorum soluta.</p>
                                <ul class="social-links circle animated-effect-1">
                                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i
                                            class="fa fa-facebook"></i></a></li>
                                    <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i
                                            class="fa fa-twitter"></i></a></li>
                                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i
                                            class="fa fa-google-plus"></i></a></li>
                                    <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i
                                            class="fa fa-linkedin"></i></a></li>
                                    <li class="xing"><a target="_blank" href="http://www.xing.com"><i
                                            class="fa fa-xing"></i></a></li>
                                </ul>
                                <div class="separator-2"></div>
                                <ul class="list-icons">
                                    <li><i class="fa fa-map-marker pr-10 text-default"></i> One infinity loop, 54100
                                    </li>
                                    <li><i class="fa fa-phone pr-10 text-default"></i> +00 1234567890</li>
                                    <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>info@theproject.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">Copyright © 2016 The Project by <a target="_blank"
                                                                                      href="http://htmlcoder.me">HtmlCoder</a>.
                                All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->

</div>
<!-- page-wrapper end -->

<!-- JavaScript files placed at the end of the document so the pages load faster -->
<!-- ================================================== -->
<!-- Jquery and Bootstap core js files -->
<script type="text/javascript" src="{% static "plugins/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<!-- Modernizr javascript -->
<script type="text/javascript" src="{% static "plugins/modernizr.js" %}"></script>


<!-- jQuery Revolution Slider  -->
<script type="text/javascript" src="{% static "plugins/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
<!-- Isotope javascript -->
<script type="text/javascript" src="{% static "plugins/isotope/isotope.pkgd.min.js" %}"></script>
<!-- Magnific Popup javascript -->
<script type="text/javascript" src="{% static "plugins/magnific-popup/jquery.magnific-popup.min.js" %}"></script>
<!-- Appear javascript -->
<script type="text/javascript" src="{% static "plugins/waypoints/jquery.waypoints.min.js" %}"></script>
<!-- Count To javascript -->
<script type="text/javascript" src="{% static "plugins/jquery.countTo.js" %}"></script>
<!-- Parallax javascript -->
<script src="{% static "plugins/jquery.parallax-1.1.3.js" %}"></script>
<!-- Contact form -->
<script src="{% static "plugins/jquery.validate.js" %}"></script>

<!-- Owl carousel javascript -->
<script type="text/javascript" src="{% static "plugins/owl-carousel/owl.carousel.js" %}"></script>
<!-- SmoothScroll javascript -->
<script type="text/javascript" src="{% static "plugins/jquery.browser.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/SmoothScroll.js" %}"></script>
<!-- Initialization of Plugins -->
<script type="text/javascript" src="{% static "js/template.js" %}"></script>
<!-- Initialization of Mask -->
<script type="text/javascript" src="{% static "js/mask.js" %}"></script>
<!-- Custom Scripts -->
<script type="text/javascript" src="{% static "js/custom.js" %}"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="{% static "js/ajax-settings.js" %}"></script>
<script type="text/javascript" src="{% static "js/calls.js" %}"></script>
{% providers_media_js %}


</body>
</html>
