{% extends "index-shop.html" %}
{% block content %}

    <section class="main-container">

        <div class="container">
            <div class="row">
                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">
                    <!-- page-title start -->
                    <!-- ================ -->
                    {% if messages %}

                        {% for message in messages %}
                            <h2>{{ message }}</h2>
                        {% endfor %}
                        <div class="separator-2"></div>
                        <p><b>Назва</b> {{ trade.product.name }} <b>Ціна</b> {{ trade.product.price }}</p>
                        <p><b>Spay id</b> {{ trade.product.spay_id }}</p>
                        <p><b>Номер транзакції</b> {{ trade.transaction_id }}</p>
                        <p><b>Статус</b> {{ trade.status }}</p>

                    {% else %}
                        <h1 class="page-title">Checkout Payment</h1>

                        <div class="separator-2"></div>
                        <!-- page-title end -->
                        <p><b>Назва</b> {{ trade.product.name }} <b>Ціна</b> {{ trade.product.price }}</p>

                        <p><b>Номер транзакції</b> {{ trade.transaction_id }}</p>
                        <fieldset>
                            <legend>Payment</legend>
                            <form role="form" class="form-horizontal" id="payment-information">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios1"
                                                       value="option1"
                                                       checked="">
                                                Credit Card<i class="fa fa-cc-visa pl-10"></i><i
                                                    class="fa fa-cc-amex pl-10"></i><i
                                                    class="fa fa-cc-mastercard pl-10"></i>
                                            </label>
                                        </div>
                                        <div class="space-bottom"></div>
                                    </div>
                                    <div class="col-lg-9">

                                        <div class="form-group">
                                            <label for="paymentLastName" class="col-md-3 control-label">Full Name
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="paymentLastName"
                                                               value="{{ request.user.name_for_card }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Credit Card
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <select class="form-control">
                                                            <option value="visa" selected="selected">VISA</option>
                                                            <option value="master-card">Master Card</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Card Number
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="clearfix space-bottom visible-xs"></div>
                                                    <div class="col-xs-6 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Expiration Date
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-2">
                                                        <select class="form-control">
                                                            <option value="01" selected="selected">01</option>
                                                            <option value="03">02</option>
                                                            <option value="03">03</option>
                                                            <option value="04">04</option>
                                                            <option value="05">05</option>
                                                            <option value="06">06</option>
                                                            <option value="07">07</option>
                                                            <option value="08">08</option>
                                                            <option value="09">09</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2">
                                                        <select class="form-control">
                                                            <option value="2014" selected="selected">2014</option>
                                                            <option value="2015">2015</option>
                                                            <option value="2016">2016</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                            <option value="2023">2023</option>
                                                            <option value="2024">2024</option>
                                                            <option value="2025">2025</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">CVS
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-xs-6 col-sm-2">
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="form-group">
                                            <label for="paymentEmail" class="col-md-3 control-label">Email
                                                <small class="text-default">*</small>
                                            </label>

                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="paymentEmail"
                                                               value="{{ request.user.email }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space"></div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="optionsRadios" id="optionsRadios3"
                                                       value="option3">
                                                Cash On Delivery
                                            </label>
                                        </div>
                                        <div class="space-bottom"></div>
                                    </div>
                                    <div class="col-lg-9">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, quo, non sint
                                            nisi,
                                            corrupti fuga qui quod autem totam, molestias reiciendis ex unde. Molestias,
                                            nostrum numquam, beatae totam esse ab.</p>
                                    </div>
                                </div>
                            </form>
                        </fieldset>
                        <div class="text-right">
                            <a href="{% url "trade:reject" trade.transaction_id %}" class="btn btn-animated btn-danger">Відмінити
                                покупку <i class="fa fa-times"></i></a>
                            <a href="{% url "trade:accept" trade.transaction_id %}" class="btn btn-group btn-default">Оплатити
                                <i
                                        class="icon-right-open-big"></i></a>
                        </div>
                    {% endif %}
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>

{% endblock %}