{% extends "index-shop.html" %}

{% block content %}
    <div class="container">

        <table class="table table-striped">
            <tr>
                <th>Назва</th>
                <th>Опис</th>
                <th>Ціна</th>
            </tr>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.text }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}