{% extends "index.html" %}
{% block content %}
    <div class="container">
        <p><span>Назва</span> {{ trade.product.name }}</p>

        <p><span>Опис</span> {{ trade.product.text }}</p>

        <p><span>Ціна</span> {{ trade.product.price }}</p>

        <p><span>Номер транзакции</span> {{ trade.transaction_id }}</p>

        <p><span>Статус</span> {{ trade.status }}</p>
    </div>
{% endblock %}
