{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="deal pt-60">
        <div class="deal-body ">
            <h3 class="deal-info">Профіль <span>({{ request.user.get_type_display }})</span></h3>

            <div class="col-xs-12">
                <form action="." method="post">
                    {% csrf_token %}
                    {{ form| crispy }}
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="submit" class="btn btn-primary" value="Змінити">
                        </div>
                        <div class="col-xs-6 xs-padding-left">
                            <a class="btn btn-primary inverse pull-right" href="{% url "account_change_password" %}">Змінити
                                пароль</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}