{% extends "index.html" %}
{% load product_tags thumbnail staticfiles i18n %}
{% block content %}
    <section class="user-transaction">

        <div class="row">
            {% if filter.qs or request.GET%}
                <div class="col-sm-10 col-sm-offset-1 pull-left">
                    <h3 class="deal-info">{% trans "Список угод" %}</h3>
                </div>
                <div class="col-sm-10 col-sm-offset-1 pt-30-custom">

                    <div class="user-content">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="active_deals">
                                <form method="get" action="" id="filter_form">
                                    <table class="table table-hover table-fixed transactions"
                                           style="border-collapse:collapse;">
                                        <thead>
                                        <tr data-toggle="collapse" data-target="#filter"
                                            class="filter-pointer">
                                            <th>SpayId</th>
                                            <th class="deal-name">{% trans "Назва угоди" %}</th>
                                            <th class="hidden-xs">{% trans "Статус" %}</th>
                                            <th class="hidden-xs">{% trans "Сума" %}</th>
                                            <th class="hidden-xs">{% trans "Роль" %}</th>
                                            <th class="hidden-xs">{% trans "Дата" %}</th>
                                            <th>{% trans "Дії" %}</th>
                                        </tr>
                                        <tr id="filter" class="js-filter-form accordian-body">
                                            <th class="js-change">{{ filter.form.spay_id }}</th>
                                            <th class="js-change deal-name">{{ filter.form.name__icontains }}</th>
                                            <th class="hidden-xs js-change">{{ filter.form.product_status_filter }}</th>
                                            <th class="hidden-xs js-change">{{ filter.form.price }}</th>
                                            <th class="hidden-xs js-change">{{ filter.form.role }}</th>
                                            <th class="hidden-xs js-date">{{ filter.form.created_date__date__gt }}-{{ filter.form.created_date__date__lt }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for product in filter.qs %}
                                            <tr>
                                                <td class="accordion-toggle" data-toggle="collapse"
                                                    data-target="#demo-{{ product.spay_id }}">
                                                    <p class="spay-arrow">{{ product.spay_id }}</p>

                                                    <div> {% thumbnail product.image "65x65" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                    </div>
                                                </td>
                                                <td class="deal-name">{{ product.name }}</td>
                                                <td class="hidden-xs">{{ product.get_status_display }}</td>
                                                <td class="hidden-xs">{{ product.price }}</td>
                                                <td class="hidden-xs">{% if request.user == product.user %}
                                                    {% trans "Продавець" %}{% else %}
                                                    {% trans "Покупець" %} {% endif %}</td>
                                                <td class="hidden-xs">{{ product.updated_date }}</td>
                                                <td class="action">
                                                    <p>
                                                        <a class="copy-button"
                                                           data-clipboard-text="



                                                                   {{ request.get_host }}{% url 'product:details_by_spay_id' product.spay_id %}">
                                                            <span class="glyphicon glyphicon-link"></span> {% trans "скопіювати лінк" %}
                                                        </a>
                                                    </p>

                                                    <p>
                                                        <a href="{% get_user_trade_url product request.user %}"><span
                                                                class="glyphicon glyphicon-list-alt"></span> {% trans "деталі" %}
                                                        </a>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="7" class="hiddenRow">
                                                    <div class="accordian-body collapse"
                                                         id="demo-{{ product.spay_id }}"><p
                                                            class="terms">
                                                        Умови продажу: {{ product.terms }}
                                                    </p></div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-xs-12">
                    <h4 class="no-items">{% trans "Немає угод" %}</h4>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block js %}
    <script type="application/javascript" src="{% static "js/bootstrap-datepicker.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/bootstrap-datepicker.ru.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/bootstrap-datepicker.uk.min.js" %}"></script>
    <script type="application/javascript" src="{% static "js/bootstrap-datepicker.pl.min.js" %}"></script>
    <script type="application/javascript">
        {% get_current_language as current_lang %}
        date_range = $('.js-date :input').datepicker({
            format: "mm/dd/yy",
            language: "{{ current_lang }}",
            autoclose: true,
            clearBtn: true,
            orientation: "bottom auto"
        });
        date_range.on('changeDate', function (ev) {
            $('#filter_form').submit();
        });
        $('.accordian-body.collapse').on('shown.bs.collapse hidden.bs.collapse', function () {
            $(this).closest('tr').prev().find(".spay-arrow").toggleClass("up")
        })
    </script>
{% endblock %}