{% extends "index-shop.html" %}
{% block content %}
    <section class="section light-gray-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- pills start -->
                    <!-- ================ -->
                    <!-- Nav tabs -->
                    <ul class="nav nav-pills" role="tablist">
                        <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Мій профіль"><i
                                class="icon-star"></i> Профіль користувача</a></li>

                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content clear-style">
                        <div class="tab-pane active" id="pill-1">
                            <div class="row masonry-grid-fitrows grid-space-10">
                                <div class="col-sm-4">
                                    <p>{{ user.name }}</p>

                                    <p>{{ user.email }}</p>

                                    <p>{{ user.phone }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- pills end -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}