{% load i18n %}
<div class="user-data">
    <div class="row">
        <div class="col-xs-6">
            {% block left_button %}
                <a href="{% url "product:update" product.slug %}" class="btn btn-primary inverse"
                   name="edit"
                   id="id_edit">{% trans "Редагувати" %}</a>
            {% endblock %}
        </div>
        <div class="col-xs-6 no-padding-left">
            {% block right_button %}
                {#                <a href="{% url "trade:cancel" product.last_transaction.transaction_id %}"#}
                {#                   class="btn btn-primary inverse"#}
                {#                   name="cancel"#}
                {#                   id="id_cancel">{% trans "Відмінити бронювання" %}</a>#}
            {% endblock %}
        </div>
    </div>
</div>