{% load i18n %}
<div class="user-data">
    <div class="row">
        <div class="col-xs-12">
            <a href="#" class="btn btn-primary" name="good" id="id_good"
               disabled="disabled">{% block text %}{% trans "Угода виконана" %}{% endblock %}</a>
        </div>
    </div>
</div>