{% extends "rest_framework_docs/base.html" %}

{% block title %}Project Name{% endblock %}
{% block logo %}<a class="navbar-brand" href="#">SPay docs</a>{% endblock %}
{% block github_badge %}{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
  <h1>'SPay' Web API</h1>
  <h3>Documentation of the 'Spay' Web API.</h3>
</div>
{% endblock %}

{% block footer %}<div class="footer">Copyright © 2016 SPay.</div>{% endblock %}